<div class="container">
	<div class="col-sm-12">
		<button ng-repeat="category in categories" ng-click="setCurrentCategory(category.catName)" class="btn-lg  cat-select">
			<h4>I {{category.catName}}</h4>
		</button>
		<button ng-click="setCurrentCategory()" class="btn-lg  cat-select">
			<h4>VIEW ALL</h4>
		</button>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-4 project-module" ng-repeat="item in selectedWork | filter: currentCategory">
			<a href="{{item.link}}"><img class="project-img img-responsive center-block" ng-src="{{item.icon}}">
			<h4 class="text-center">{{item.name}}</h4></a>
		</div>
	</div>
</div>